# Autodetect text files
* text=auto

# ...Unless the name matches the following
# overriding patterns

# Definitively text files 
*.gitattributes text
.gitignore text
*.pl text
*.pm text
*.txt text
*.c text
*.h text
*.md text
*.adoc text
*.textile text
*.mustache text
*.csv text
*.tab text
*.tsv text
*.sql text

# Specific Diff command
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.data binary
*.gif binary
*.ico binary
*.svg text

# Fully qualified exceptions allways at the end: The last one wins!
# Windows files
Windows/HowToBuildMSIreadme.txt binary
Windows/certnanny.wixproj binary
contrib/wizard.pl binary
etc/Keystore-DEFAULT-w32.cfg.template binary
