#############################################
#
# Sample configuration file for CertNanny 1.0 X.509 certificate renewal agent
#
# 2013-10-10 Arkadius C. Litwinczuk <arkadius.litwinczuk@gmail.com>
#
#############################################


#Name of the CertNanny service 
# Windows Service Name
platform.windows.servicename     = CertNanny
                               
#time frame for starting the renewal process (in seconds)
#once a day  86400
Platform.Windows.ServiceInterval = 86400

#helper variable to ease configuration 
#can be accesed via $(prefix)
prefix                           = /var/CertNanny/
#tmp directory for certnanny
path.tmpdir                      = $(prefix)tmp/

# NOTE: Set the desired log level here. For common usage 2 or 3 should
#       be OK.
# 0: fatal, 1: error, 2: notice, 3: info, 4: debug, 5: scep verbose, 6: scep debug
loglevel                         = 3

#Name and destination of the certnanny logfile

logfile                          = $(prefix)logs/certnanny.log

#randomWait if this is set there will be a random backoff time while renewing a certificate to ease the stress 
#on the PKI (e.g. 1000 servers run certanny with the same config for a cron job)
randomWait                       = 300

#Conditional wait time between HHMMSS  - HHMMSS here will be a random backoff time while renewing a certificate
#conditionalwait.time            = 5
#conditionalwait.start           = 100000
#conditionalwait.end             = 120000


# NOTE: These settings are necessary for CertNanny to work properly.
#       Adjust the values to reflect your local setup. It is highly
#       recommended to use absolute paths.
#
# OpenSSL location (required)
cmd.openssl                      = /usr/bin/openssl
#Optional openssl conf path , to avoid warnings from openSSL CertNanny will set the OPENSSL_CONF enviroment var 
#cmd.opensslconf                 = /path/to/openssl.conf

# sscep binary location (required)
cmd.sscep                        = /opt/CertNanny/bin/sscep

# java an keytool location (optional)
cmd.java                         = /usr/bin/java
cmd.keytool                      = /usr/bin/keytool

# path to ifonfig (optional)
cmd.ifconfig                     = /sbin/ifconfig


####Include keystore configuration files####
# if you specify a directory all files in the directory will be included
# include KeystoreConfigDirectory/
# or specify several files by globbing to be included
# Include all files starting with "Keystore-" and ending with ".cfg"
# include Keystore-*.cfg
# or specify the config file to include one by one by absolute or relative path starting from this config files directory
# include certnanny-local.cfg

include Keystore-DEFAULT.cfg
#include Keystore-Java.cfg
#include Keystore-OpenSSL.cfg
#include Keystore-Windows.cfg
#include Keystore-MQ.cfg
#include Keystore-OpenSSL-PKCS8.cfg
#include Keystore-PKCS12.cfg


####Include system specific configuration files####
# Do not edit or delete
# Do not remove folder /var/Certnanny/etc/system ot change files in this folder
# This directory is used for system default configurations provided by an additional, optional configuration package
# Any Files in this directory can be changed, deleted or added by subsequent updates without further notice
include /var/Certnanny/etc/system
